$base-dark: #2E82A8
$base-color: #6DB4D5
$base-light: #89C5E0

$accent-dark: #FF8F53
$accent-color: #FFB96D
$accent-light: #FFE389

$neutral-dark: #23383A
$neutral-light: #D7EAEC

$body-font: 1em 'Dosis', Helvetica, sans-serif