@import "theme"

body
    margin: 0
    background-color: $base-color

#app
    font-family: $body-font
    font-weight: bold
    color: $neutral-dark

a
    letter-spacing: 0.2em
    color: $neutral-light
    text-decoration: none
    text-transform: uppercase

    &:hover
        transition: 0.2s
        color: $accent-light

h1, h2, h3,
h4, h5, h6
    font-family: $heading-font
    margin: 0
    color: $accent-light
    letter-spacing: 0.15em
    text-align: center
    text-transform: uppercase

h1
    font-size: 2.5em

.page-container
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.25em

.page-content
    padding: 1em

.flex
    display: flex

.flex-col
    flex-direction: column

.align-center
    align-items: center
    justify-content: center
