@import "theme"

body
    margin: 0
    background-color: $base-color
    overflow-x: hidden

#app
    font-family: $body-font
    font-size: 1.25em
    color: $neutral-color

a
    letter-spacing: 0.2em
    color: $neutral-color
    text-decoration: none
    text-transform: uppercase

    &:hover
        transition: 0.2s
        color: $accent-light

h1, h2, h3,
h4, h5, h6
    font-family: $heading-font
    margin: 0
    color: $accent-light
    letter-spacing: 0.15em
    text-align: center
    text-transform: uppercase

h1
    font-size: 2.75em
    filter: drop-shadow(0.05em 0.05em 0 $base-dark)
    background: linear-gradient($base-light, $accent-color)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

article
    width: 100%

section
    padding: 1em

#content
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.flex
    display: flex
    gap: 1em

.flex-col
    display: flex
    flex-direction: column
    gap: 1em

.align-center
    align-items: center
    justify-content: center

.fade-enter-active,
.fade-leave-active
    transition-duration: 0.3s
    transition-property: opacity
    transition-timing-function: ease

.fade-enter,
.fade-leave-active
    opacity: 0
